<section>
    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <strong>Dúvidas ?</strong>
                <div>
                    <label>Atendimento de Seg. à Sex das 9h às 18h</label>
                </div>
                <div class="mt-2">
                    <label for="">(12) 98108-9712 </label> <br>
                    <label for="">contato@ufatapago.com.br</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Home</a>
                    <a href="#" class="list-group-item list-group-item-action">Como funciona</a>
                    <a href="#" class="list-group-item list-group-item-action">Quem somos</a>
                    <a href="#" class="list-group-item list-group-item-action">Perguntas frequentes</a>
                    <a href="#" class="list-group-item list-group-item-action">Simular parcelas</a>
                    <a href="#" class="list-group-item list-group-item-action">Politicas de privacidade</a>
                    <a href="#" class="list-group-item list-group-item-action">Termos de uso</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <strong>Acompanhe nas redes sociais</strong>
                <div class="d-flex" style="font-size: 30px;">
                    <div class="mr-2">
                        <a href="https://api.whatsapp.com/send?phone=5512981089712" class="bi bi-whatsapp"></a>
                    </div>
                    <div class="mr-2">
                        <a href="https://www.facebook.com/ufatapago/" class="bi bi-facebook"></a>
                    </div>
                    <div>
                        <a href="https://instagram.com/ufatapago" class="bi bi-instagram"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<footer>
    <div class="container d-flex" style="flex-wrap: wrap;">
        <div style=" width: 100px;justify-content:center" class="d-flex">
            <img src="assets/img/img-footer.png" alt="">
        </div>
        <div style="width: 630px;">
            <strong>Ufá!Ta pago Soluções financeiras Ltda</strong>
            <div>Rua Rui Barbosa, 169,Centro, Jacareí, São Paulo – SP, CEP 12.308-520.</div>
            <div>Todos os direitos reservados @ 2021</div>
        </div>
        <div style="line-height: 75px;">
            <strong>Desenvolvido por: TCavalcanti informatica</strong>
        </div>
    </div>
</footer>