
<section>
    <div class="container col-lg-6 col-sm-12">
        <div class="row">
            <div class="col-12 col-lg-6 col-sm-12">
                <img src="assets/img/homen-1.png" alt="">
            </div>
            <div class="col-12 col-lg-6 col-sm-12">
                <div class="title">Empréstimo</div>
                <div class="title">Consignado :: INSS</div>
                <div class="subtitle mt-2">
                    Solicite o seu Empréstimo de maneira 100% Online!
                </div>
                <div class="subtitle">
                    Garante as melhores taxas do mercado e receba o valor em
                </div>
                <div class="subtitle">
                    sua conta em até 48h após a aprovação de crédito
                </div>
                <ul class="list-group mt-3">
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                        Sem consulta ao SPC ou Serasa
                    </li>
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                       Taxas masi baixas que o empréstimo convencional
                    </li>
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                       Aprovação rápida e livre de burocracias
                    </li>
                </ul>
                <div class="mt-3">
                    <button class="botao-laranja" (click)="nav('https://api.whatsapp.com/send?phone=5512981089712')" >Solicitar agora</button>
                </div>
            </div>
        </div>
        <div class="row mt-5" >
            <div class="col-12 col-lg-6 col-sm-12">
                <img src="assets/img/homen-2.png" alt="" >
            </div>
            <div class="col-12 col-lg-6 col-sm-12">
                <div class="title">Empréstimo</div>
                <div class="title">Consignado :: SIAPE</div>
                <div class="subtitle mt-2">
                    garanta as melhores taxas do mercado, solicitando um
                </div>
                <div class="subtitle">
                    empréstimo de maneira 100% digital e com aprovação rápida
                </div>
                <div class="subtitle">
                    e livre de burocracias
                </div>
                <ul class="list-group mt-3">
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                        Sem consulta ao SPC ou Serasa
                    </li>
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                       Taxas masi baixas que o empréstimo convencional
                    </li>
                    <li class="list-group-item">
                        <div class="icon-check"><i class="bi bi-check"></i></div>
                       Aprovação rápida e livre de burocracias
                    </li>
                </ul>
                <div class="mt-3">
                    <button class="botao-laranja" (click)="nav('https://api.whatsapp.com/send?phone=5512981089712')">Solicitar agora</button>
                </div>
            </div>
        </div>
    </div>
</section>