
<button (click)="teste()">teste</button>
<section class="se-apresentacao">
  <div class="img-seta">
    <img src="assets/img/seta-para-baixo.png" alt="">

  </div>
</section>
<section class="se-apresentacao-video">

  <div class="container">
    <div class="text-center pt-3">
      <div class="title">Veja como é simples fazer o seu pagamento</div>
    </div>
    <div class="iframe-video">
      <iframe src="https://www.youtube.com/embed/adLGHcj_fmA" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="se-simule">

  <div class="container">
    <div class="row pb-5" style="padding-top: 5em;">
      <div class="col-12 col-lg-6 col-sm-2">
        <img src="assets/img/simular.png" alt="" style="width: 80%;">
      </div>
      <div class="col-12 col-lg-6 col-sm-12" style="background: #e6e7e8;">
        <div class="title">Simule agora</div>
        <div class="title">o seu pagamento</div>
        <form [formGroup]="form_simular">
          <div class="form-group">
            <label for="my-input">Vencimento do boleto</label>
            <input formControlName="vencimento" id="my-input" class="form-control" type="date" name=""
              placeholder="00/00/0000">
          </div>
          <div class="form-group">
            <label for="my-input">Valor do boleto</label>
            <input (keyup)="calcularParcela()" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align: 'left' }"
              formControlName="valorBoleto" class="form-control" type="text" name="" placeholder="R$00">
          </div>
          <div class="form-group">
            <label for="my-input">Quantidade de parcelas</label>
            <select formControlName="parcela" class="form-control" style="border-radius: 25px;">
              <option [value]="item.v" *ngFor="let item of parcelas">{{item.v}}x / {{item.valorPacela | currency:'BRL'}} - Total : {{item.valorTotal | currency:'BRL'}} </option>
            </select>
          </div>
          <button (click)="simularPagamento()" class="botao-laranja">Simular parcelas</button>
        </form>
        <!-- <table class="table table-light" >
          <thead class="thead-light">
            <tr>
              <th>Parcela</th>
              <th>valorPacela</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listParcelas">
              <td>{{item.v}}</td>
              <td>{{item.valorPacela}}</td>
              <td>{{item.valorTotal}}</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</section>
<section class="se-simples-rapido">
  <div class="text-center">
    <div class="title">Simples, rápido e descomplicado</div>
    <div class="subtitle">Chegou a solução que você precisava para pagar seus boletos</div>
    <div class="subtitle">em até <strong>12x no cartão de crédito!</strong></div>
    <div class="cards">
      <div class="row">
        <div class="col-12 col-lg-3 col-sm-6">
          <div class="cards-item">
            <img src="assets/img/seta-para-baixo.png" alt="">
            <div class="cards-legends">
              <div>Cadastre-se e </div>
              <div>faça uma</div>
              <div>simulação</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-sm-6">
          <div class="cards-item">
            <img src="assets/img/seta-para-baixo.png" alt="">
            <div class="cards-legends">
              <div>Envie seu boleto</div>
              <div>digite o seus</div>
              <div>documentos</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-sm-6">
          <div class="cards-item">
            <img src="assets/img/seta-para-baixo.png" alt="">
            <div class="cards-legends">
              <div>Aguarde a</div>
              <div>aprovação do</div>
              <div>seu pagamento</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-sm-6">
          <div class="cards-item">
            <img src="assets/img/seta-para-baixo.png" alt="">
            <div class="cards-legends">
              <div>Pronto!</div>
              <div>Seu boleto foi pago</div>
              <div>com sucesso!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subtitle mt-2">
      Aluguel,condomínio,faculdade,a fatura do cartão de crédito e muito mais.
    </div>
    <div class="subtitle">
      Ao realizar o pagamento de qualquer boleto à vista ou parcelo do cartão de crédito.
    </div>
  </div>
</section>
<section class="se-depoimento">
  <div class="bg-end">
    <img src="assets/img/img-footer.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-sm-12 mb-5">
        <div class="title">Veja quem já</div>
        <div class="title">pagou boletos</div>
        <div class="title">com a gente!</div>
      </div>
      <div class="col-12 col-lg-6 col-sm-12">
        <div class="box-chat-img">
          <img src="assets/img/comment/Depo1.png" alt="">
        </div>
        <!-- <div class="box-chat">
          <div class="box-user">
            <div class="foto-user"></div>
            <div  class="name-user">Carlos ferri</div>
          </div>
          <div class="box-chat-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 col-sm-12">
        <div class="box-chat-img">
          <img src="assets/img/comment/Depo2.png" alt="">
        </div>
        <!-- <div class="box-chat">
          <div class="box-user">
            <div class="foto-user"></div>
            <div  class="name-user">Carlos ferri</div>
          </div>
          <div class="box-chat-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
          </div>
        </div> -->
      </div>
      <div class="col-12 col-lg-6 col-sm-12">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 col-sm-12">
      </div>
      <div class="col-12 col-lg-6 col-sm-12">
        <div class="box-chat-img">
          <img src="assets/img/comment/Depo3.png" alt="">
        </div>
        <!-- <div class="box-chat">
          <div class="box-user">
            <div class="foto-user"></div>
            <div  class="name-user">Carlos ferri</div>
          </div>
          <div class="box-chat-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
          </div>
        </div> -->
      </div>
     
    </div>
    
    <div></div>
  </div>
</section>
<section class="se-duvidas">
  <div class="container">
    <div class="title mb-3">Dúvidas frequentes</div>
    <ul class="list-group px-2">
      <li *ngFor="let item of perguntas" class="list-group-item bg-white" (click)="activeResponsta = item.id">
        <label for="">{{item.pergunta}}</label>
        <img src="assets/img/seta-para-baixo.png" alt="">
        <div class="resposta {{activeResponsta == item.id ? 'resposta-open' : ''}}">
          {{item.resposta}}
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="se-form">
  <div class="container px-5 col-12 col-lg-4 col-sm-6">
    <div class="title">Pague seu boleto agora mesmo!</div>
    <div class="subtitle">Cadastre-se e simule seu parcelamento</div>
    <form class="mt-3" [formGroup]="form_cadastro">
      <div class="form-group">
        <label for="my-input">Nome</label>
        <input formControlName="nome" id="my-input" class="form-control" type="text" name="">
      </div>
      <div class="form-group">
        <label for="my-input">Sobrenome</label>
        <input formControlName="sobNome" id="my-input" class="form-control" type="text" name="">
      </div>
      <div class="form-group">
        <label for="my-input">CPF</label>
        <input formControlName="cpf" id="my-input" class="form-control" type="text" name="">
      </div>
      <div class="form-group">
        <label for="my-input">E-mail</label>
        <input formControlName="email" id="my-input" class="form-control" type="email" name="">
      </div>
      <div class="form-group">
        <label for="my-input">Senha</label>
        <input formControlName="senha" id="my-input" class="form-control" type="password" name="">
      </div>
      <div style="line-height: 24px;">
        <label class="checkbox">Li e aceito os termos de uso e política de privacidade
          <input formControlName="aceite" type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="btn-cadastrar">
        <button (click)="cadastrar()" class="botao-laranja ">Cadastrar</button>
      </div>
    </form>
  </div>
</section>