<section>
    <div class="body-content p-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="image d-container">
                        <img src="assets/img/phone.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="content-text">
                        <h3>Você está a um passo de</h3>
                        <h3>Liberar sua vida financeira</h3>
                        <div>
                            <label>Solicite seu cartão tenha todos os beneficios</label>
                            <label>de um atendimento personalizado</label>
                        </div>
                        <div >
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="icon-check"><i class="bi bi-check"></i></div> Cartão Mastercard
                                    Internacional
                                </li>
                                <li class="list-group-item">
                                    <div class="icon-check"><i class="bi bi-check"></i></div> Saques gratuitos no banco
                                    BMG e nas redes Banco24Horas
                                </li>
                                <li class="list-group-item">
                                    <div class="icon-check"><i class="bi bi-check"></i></div> Sem anuidade ou taxas
                                    escondidas
                                </li>
                            </ul>
                        </div>
                        <button class="botao-roxo mt-3" (click)="nav('http://www.bancobmg.com.br/mgm/redir?key=91741d3d')">Abra sua conta</button>
                        <div>
                            <small>*Sujeito a análise de crédito</small>
                        </div>
                    </div>
                </div>
            </div>
          


        </div>
    </div>
</section>